.play-button {
  position: absolute;
  top: 30%;
  margin-left: 30%;
  background: rgba(255, 255, 255, 0.6);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.play-button-img {
  height: 40px;
  width: 40px;
}
.play-button:hover {
  background: rgba(255, 255, 255, 1);
}
