.button-normal-blue {
  height: 50px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-blue);
  border-radius: 5px;
  color: white;
}
.button-normal-red {
  height: 50px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-pink);
  border-radius: 5px;
  color: white;
}
.button-small {
  width: 95px;
  height: 30px;
  border: solid 2px var(--color-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius: 5px;
  color: var(--color-blue);
}
