.info {
  width: var(--body-width);
}
.info img {
  border-radius: 5px;
}

.first-info {
  display: flex;
}
.first-info-left {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.first-info-left img {
  width: 300px;
  height: 351px;
}
.first-info-right {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: flex-end;
  justify-content: flex-end;
}
.first-info-right img {
  height: 52%;
  width: 90%;
}
.first-info-right div {
  width: 70%;
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  .info {
    width: auto;
    overflow: hidden;
  }
  .first-info img {
    display: none;
  }
  .first-info-left {
    display: none;
  }
  .first-info-right {
    flex: none;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
