.third-info {
  display: flex;
  margin-top: 50px;
}
.third-info-right {
  position: relative;
  flex: 1;
}
.third-play-button img {
  height: 30px;
  width: 30px;
  border: solid;
}
.third-info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.third-info-left h1 {
  width: 75%;
}
.third-info-left span {
  width: 50%;
  margin-bottom: 10px;
  margin-top: 15px;
}
.third-info-left p {
  font-weight: bold;
  color: var(--color-blue);
}
