.navbar {
  display: flex;
  padding: 20px;
}
.navbar-left {
  flex: 2;
  font-family: "Sarina", cursive;
  font-size: 200%;
  font-weight: bold;
  color: rgba(110, 110, 110, 0.8);
}
.navbar-right {
  flex: 1;
  color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .navbar-right h3 {
    display: none;
  }
  .navbar {
    width: auto;
  }
}
