.text-section {
  position: relative;
  width: var(--body-width);
  padding: 80px;
  margin-top: 80px;
}
.text-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #fff4d4;
  border-radius: 40px;
  transform: rotate(-180deg);
  z-index: -1;
}
.text-section-head {
  width: 50%;
}
.text-section-card {
  display: flex;
  align-items: center;
}
.text-section-card img {
  height: 40px;
}
.text-section-card div {
  margin: 15px;
}
.text-section-top {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.text-section-top div {
  margin-left: 10px;
  margin-right: 10px;
}
.text-section-heading {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.text-section-heading h2 {
  flex: 1;
}
.text-section-heading p {
  flex: 2;
  text-align: right;
  font-weight: bold;
  color: var(--color-blue);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.text-section-heading p img {
  height: 20px;
  margin-left: 10px;
}
.text-section-bottom {
  display: flex;
}

@media (max-width: 600px) {
  .text-section {
    position: relative;
    width: 90%;
    padding: 0;
    margin-top: 80px;
  }
  .text-section-bg {
    display: none;
  }
  .text-section-head {
    width: 100%;
  }
  .text-section-top {
    flex-direction: column;
  }
  .text-section-heading {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .text-section-bottom {
    flex-direction: column;
  }
}
