.text-section {
  width: var(--body-width);

  padding: 80px;
}
.text-section-head {
  width: 50%;
}
.text-section-card {
  display: flex;
  align-items: center;
}
.text-section-card img {
  height: 40px;
}
.text-section-card div {
  margin: 15px;
}
.text-section-top {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.text-section-top div {
  margin-left: 10px;
  margin-right: 10px;
}
.text-section-heading {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.text-section-heading h2 {
  flex: 1;
}
.text-section-heading p {
  flex: 2;
  text-align: right;
  font-weight: bold;
  color: var(--color-blue);
}
.text-section-bottom {
  display: flex;
}
