.footer {
  background: var(--color-black);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-content {
  width: 80%;
  padding-top: 40px;
  display: flex;
}
.footer-left {
  flex: 1;
  color: var(--color-gray);
}
.footer-left p {
  margin-top: 40px;
}
.footer-right {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  color: var(--color-gray);
}
.footer-right p {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.footer-right h4 {
  margin-bottom: 5px;
}
.footer-divider {
  border-bottom: 1px solid rgba(90, 90, 90, 0.5);
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-end {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-end b {
  color: white;
  cursor: pointer;
}
.footer-end span {
  color: var(--color-gray);
}
@media (max-width: 600px) {
  .footer-right {
    display: none;
  }
  .footer {
    width: auto;
  }
}
