:root {
  --color-blue: #0e6fff;
  --color-black: #23242a;
  --color-yellow: #ffc928;
  --color-pink: #ff4242;
  --color-gray: #b3aca2;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (max-width: 600px) {
  body {
    border: solid;
    overflow-x: hidden;
  }
}
